<h2>Invoice</h2>

<p>
  <strong>Customer Name:</strong>
  <%= @orders.customer_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @items.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @items.rate %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @orders.order_date %>
</p>

